
/* Colors */
$black: #121212;
$primary: #3c3b73;
$darkPrimary: #3c3b46;
$green: #4ec346;
$grey: #eaeaea;
$grey2: #ebebeb;
$grey3: #8c8c8c;
$grey4: #a9a9a9;
$grey5: #f7f7f7;
$bg: #eeeeee;
$bgFooter: #fafafa;
$white: #ffffff;
$brown: #64560e;
$font: #464646;
$font2: #767676;
$font3: #606060;
$font4: #494949;
$font5: #565656;
$font6: #848181;
$head: #434348;
$border: #e5e5e5;
$kosong: #b0b0b0;

$tableHead: $font6;
$tableBody: $font5;

$iconSecondary: #a5a5a5;
$iconText: #989898;

$textSecondary: #696969;
$dropdownNav: #7c7c7c;

$detailLabel: $font5;
$detailKonten: #535353;

$dialogBg: #ededed;
$dialogText: $font3;
$inputText: #9c9c9c;
$textLink: #898989;
$textAddon: #aaaaaa;
$inputAddon: #9a9a9a;

$tagline: $head;

$kategori: #4f4f4f;
$subKategori: #828282;
$navSeparator: #ff9980;

$pagination: #616161;

$itemDiv: $font6;

$wizardDisabled: #9b9b9b;
$wizardBgDisabled: #d8d8d8;

$footer: #6b6b6b;
$copyright: $grey4;
$breadcrumb: #a0a0a0;

$tabNav: #8a8a8a;

$yellow: #fcff0b;
$enable-flex: true;
